.underline {
width: 50px;
height: 25px;
border-bottom: 2px solid black;
// position: absolute;
margin-bottom:25px;
}

* {
 font-family: 'Literata', serif;
}

h1,h2,h3,h4,h5 {
  font-family: 'Roboto', sans-serif;

}

p {
  color: #3a3a3a;
}

.title_about {
  margin:0px;
  padding:0px;

}

.main_div_about {
  padding-right: 5rem;
  padding-left: 10rem;
  padding-top: 80px;
}

.card-img-about{
  border-radius:7px !important;
  flex-shrink: 0;
  height: 80vh;
  width: auto;
  padding-right: 50px;

}


.footer-padding{
margin-top: 70px;

}
