.icones-casas {
  p {
    padding-top: 1vh; 
    padding-bottom: 0 !important;
  }
  img {
    height:50px; 
    width: 50px;
    padding-top: 1vh;
  }
}

.rounded-background {
  background: rgba(40%, 53%, 29%, 0.3);
  border-radius: 50%;
  padding: 2vh 1vw 2vh 1vw;
  width:130px;
  height: 130px;
}

#text-casas {
  display: flex; 
  align-items: center;
  justify-content: center;
  p {
    text-align: center; font-weight: bolder; padding: 2vh 14vw;
  }
}

@media screen and (max-width: 1050px) {
  #text-casas p {
    padding: 2vh 5vw;
  }
}