// Specific CSS for your home-page
.img-home {
  height: 100vh
}


* {
  background-color:transparent;
}

body {

}

.navbar {
  position:absolute !important;
  z-index: 60 !important;
    right: 0 !important;
  left: 0 !important;
}

.card-main-position {
  position:relative;
}

.card-position {
  position: absolute;
}

.item {
  padding: 15px;
}

.carouselExampleCaptions{
  margin-top: 0px;
}

.carousel-inner > .carousel-item > img {
  top: 0px;
  left: 0px;
  width: 100vh;
  min-width: 1278px;
  height: 100vh;
  /*height: auto;
  min-height: 500px;
  max-height: 1000px;*/
}
