
// Specific CSS for your home-page

* {
 font-family: 'Literata', serif;
}

h1,h2,h3,h4,h5 {
  font-family: 'Roboto', sans-serif;
}


.img-home {
  height: 100vh
}

.container{
  position: relative;
  top: -100px;
}

.navbar {
  z-index: 60 !important;
  right: 0 !important;
  left: 0 !important;
  transition:all 0.3s;
}

.navbar-white {
border-bottom:solid 1px lightgrey;
background-color:white;
transition:background-color 0.3s;
}

.navbar-trans {
border-bottom:solid 0px lightgrey;
background-color:transparent;
transition:background-color 0.3s;
}
.nav-item {
  color: white;
  font-size: 18px;
}

.nav-item h2 {
  color: white;
  font-size: 18px;
}

.navbar-brand {
  text-decoration: none;
}
.side-element {
  //flex: 1;
}
.dropdown.side-element {
  margin-top:20px;

}
.title-center {
  margin:0 auto;

}
.reservez {

}

#dropdownMenu2{
  padding:0px;
}

#navbar-container{
  padding: 0 25px;
}
.navbar-brand h1 {
  font-family: 'Permanent Marker', cursive !important;
  text-align:center;
  color:white;
  padding-bottom:0px;
  margin-bottom: 0px;
  text-shadow:1px 1px 2px rgba(59,67,54,0.5);
}
.navbar-brand h2 {
font-family: 'Literata', serif;
text-align:center;
color:white;
text-shadow:1px 1px 2px rgba(59,67,54,0.5);
}

.vivenda-size-big {
   font-size:64px;
   transition:all 0.3s;
}

.nossa-size-big {
 font-size: 24px;
 transition:all 0.3s;
}
.vivenda-size-small {
 font-size: 50px;
 transition:all 0.3s;
}

.nossa-size-small {
 font-size: 20px;
 transition:all 0.3s;
}

.card-main-position {
  position:relative;
}

/* Slow-motion Zoom Container */
.carousel-item img {
  filter: brightness(85%);
}

.card-position {
  position: absolute;
}

.item {
  padding: 25px;
}

#carouselExampleCaptions{
  margin-top: 0px;
  z-index:50;
  position: relative;
  top: -130px;
}

.container-nav {
 // display: flex;
 // justify-content: space-between;
 // align-items: center;
  width: 100% !important;
  display:grid;
  grid-template-columns:10% auto 10%;

}

.column-nav {
  flex-direction: column;
  text-align:center;
}

.column-center{
flex-flow: column wrap;
}

.fas, .far {
  color: black;
  font-size:24px;
}

.dropdown-item {
  color:#3B4336 !important;
}

#dropdownMenu2 {
  background-color:transparent;
  border:none;
  box-shadow: none
}

.dropdown-menu.show {
   background-color:rgba(255,255,255,0.5);
}

.reserver h2 {
  border-radius:4px;
  border:solid 1px rgba(255,255,255,0.8);
  padding:9px;
  text-decoration: none !important;
  background-color:rgba(255,255,255,1);
  color:#3B4336;
  font-size: 20px;
  font-family: 'Literata', serif;
  text-align:center;
}

.reserver h2:hover {
  border-radius:4px;
  border:solid 1px $green;
  padding:7px;
  background-color:$green;
  color: white;
  text-decoration: none !important;
  box-shadow: 1px 1px 2px #3B4336;
}
.nav-item {
  text-decoration: none !important;
}

.sticky {
  position: -webkit-sticky !important;
  position: sticky !important;
  top: 0px !important;
  padding-top: 0px !important;
}

h5 {
font-family: 'Roboto', sans-serif;
font-weight: 900;
color: black;
}

p {
font-family: 'Literata', serif;
color: #3a3a3a;
}

// --------------------------

.color-to-green {
  color:#678649 !important;
}

.btn-call {
  color:white !important;
  background-color: #678649 !important;

}

.drop-menu {
  font-size: 22px !important;
  border-radius:4px;
  border:solid 1px white;
  padding:7px;
  text-decoration: none !important;
  background-color:white;
  color: #678649;
  transition:all 1s;
}


.activities-map {
  background-color:#3B4336;
}

.menu-bar-white {
  height:50px;
  width:50px;
  object-fit:fill;

}

.menu-bar-green {
  height: 50px;

  width:50px;
  object-fit:fill;
}
// ----------------- MAPBOX ----------
body {
  background: #404040;
  color: #f8f8f8;
  font: 500 20px/26px 'Helvetica Neue', Helvetica, Arial, Sans-serif;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
}

.sidebar {
  width: 35%;
}

.map {
  border-left: 1px solid #fff;
  height:70vh;
  width:60%;
  padding-right:20%;
  padding-left:20%;
  margin-top:50px;
  margin-bottom:50px;
  border-radius:4px;
  box-shadow:2px 3px rgba(5,5,5,0.1);

  //pointer-events: none;
}

.pad2 {
  padding: 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.container-activite {
  display:flex;
  justify-content: space-around;
  align-items: center;
  z-index: 60;
}

.pad2 {
  flex:item;
}

.li-item {
  color: white;
}

.praia-icon {
  background-image: url('beach_icon.png');
  background-size: cover;
  width: 37px;
  height: 48px;
  cursor: pointer;
}

.mapboxgl-popup {
  max-width: 250px;
  max-height: 300px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

.vivenda-icon {
  background-image: url('vivenda_icon.png');
  background-size: cover;
  width: 37px;
  height: 48px;
  cursor: pointer;
}

.coja-icon {
  background-image: url('bike_icon.png');
  background-size: cover;
  width: 37px;
  height: 48px;
  cursor: pointer;
}

.trail01-icon {
  background-image: url('hike_icon.png');
  background-size: cover;
  width: 37px;
  height: 48px;
  cursor: pointer;
}


// -- FOOTER -----------

.icon-footer {
  color: white;
  font-size: 24px;
}
.circle-icon {
    //background: $green;
    //padding:7px;
    border-radius: 50%;
    width:40px;
    text-align:right;
    margin-right:10px;
    color: #3B4336;
}

footer {
 background-color:white;
 padding:30px 0 0 50px;
}

.footer-font {
  color: #3B4336;


}
.icon {
  text-align:center;
  padding-top:0px;
}

// Media
@media screen and (max-width: 600px) {
  .container-nav {
  grid-template-columns:25% auto 25%;
}
  .vivenda-size-big {
   font-size:36px;
   transition:all 0.3s;
}
  .nossa-size-big {
   font-size: 18px;
   transition:all 0.3s;
  }
  .vivenda-size-small {
   font-size: 36px;
   transition:all 0.3s;
  }

  .nossa-size-small {
   font-size: 18px;
   transition:all 0.3s;
  }

  .reserver h2 {
    font-size:15px;
  }

  .sidebar.pad2{
    display:none;
  }

  .map.pad2 {
    width:100vw;
  }
}

