<h1><%= "Booking confirmation #{@booking.range_date}"%></h1>

<p>
  Hi <%="#{@booking.first_name}"%>, we hereby confirm that we have received your booking request.
</p>
<p>
  We will come back to you within 24hours.
</p>
