<footer class="footer-border">
  <div class="row ">
    <div class="col-12 order-last col-md-9 order-md-first ">
      <p class="footer-font">
        info@anossacoroa.com <br>
        +32 477 24 57 26 <br>
        +351 915274823
      </p>
      <p class="adress footer-font">
        Vivenda a Nossa Coroa <br>
        Vale do Forno, <br>
        3305-183 Coja, Portugal <br>
      </p>
      <p class="footer-font">Alojamento local 119/AL <br>
      Palpiteximio LDA <br>
      NIF : 515884880 </p>
    </div>
    <div class="col-12 order-first col-md-3 order-md-last item icon">
      <a href="tel:+32477245726" target="_blank"><i class="fas fa-phone icon-footer circle-icon" ></i></a>
      <a href="mailto:info@anossacoroa.com" target="_blank"><i class="far fa-envelope icon-footer circle-icon"></i></a>
      <a href="info@anossacoroa.com" target="_blank"></a>
      <a href="https://www.facebook.com/anossacoroa" target="_blank"> <i class="fab fa-facebook-f icon-footer circle-icon" ></i></a>
      <a href="https://www.instagram.com/vivendaanossacoroa/" target="_blank"><i class="fab fa-instagram icon-footer circle-icon"></i></a>
    </div>
  </div>
</footer>